<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.dept.mapper.DeptMenuMapper">
    
    <resultMap type="DeptMenu" id="DeptMenuResult">
        <result property="deptId"    column="dept_id"    />
        <result property="menuId"    column="menu_id"    />
    </resultMap>

    <sql id="selectDeptMenuVo">
        select dept_id, menu_id from sys_dept_menu
    </sql>

    <select id="selectDeptMenuList" parameterType="DeptMenu" resultMap="DeptMenuResult">
        <include refid="selectDeptMenuVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectDeptMenuById" parameterType="Long" resultMap="DeptMenuResult">
        <include refid="selectDeptMenuVo"/>
        where dept_id = #{deptId}
    </select>
        
    <insert id="insertDeptMenu" parameterType="DeptMenu">
        insert into sys_dept_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptId != null ">dept_id,</if>
            <if test="menuId != null ">menu_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptId != null ">#{deptId},</if>
            <if test="menuId != null ">#{menuId},</if>
         </trim>
    </insert>

    <update id="updateDeptMenu" parameterType="DeptMenu">
        update sys_dept_menu
        <trim prefix="SET" suffixOverrides=",">
            <if test="menuId != null ">menu_id = #{menuId},</if>
        </trim>
        where dept_id = #{deptId}
    </update>

    <delete id="deleteDeptMenuById" parameterType="Long">
        delete from sys_dept_menu where dept_id = #{deptId}
    </delete>

    <delete id="deleteDeptMenuByIds" parameterType="String">
        delete from sys_dept_menu where dept_id in 
        <foreach item="deptId" collection="array" open="(" separator="," close=")">
            #{deptId}
        </foreach>
    </delete>

    <insert id="batchDeptMenu">
        insert into sys_dept_menu(dept_id, menu_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.deptId},#{item.menuId})
        </foreach>
    </insert>

    <delete id="deleteDeptMenuByDeptId" parameterType="Long">
        delete from sys_dept_menu where dept_id = #{deptId}
    </delete>
    
</mapper>